@model Bahrin.Harbour.Model.AccountModel.ForgetPasswordModel

@{
    ViewData["Title"] = "Forget Password";
}

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="ForgotPassword" method="post">
    @Html.AntiForgeryToken() 
    <div class="form-group">
        @Html.LabelFor(m => m.email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder = "Enter your email" })
        @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>